/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: rem(54px);
}
h2 {
    font-size: rem(48px);
}
h3 {
    font-size: rem(32px);
}
h4 {
    font-size: rem(24px);
}
h5 {
    font-size: rem(18px);
}

/*--------------------------------------------------------------
# Headers
--------------------------------------------------------------*/
.page-header {
    @include flex(center, space-between);
    margin-bottom: 2rem;
}