@import "breakpoints";

$grid-gap: 2rem;


.grid {
    width: 100%;
    @include grid(1fr, auto, $grid-gap);
}
.col2 {
    grid-template-columns: repeat(2, 1fr);
}
.col3 {
    grid-template-columns: repeat(3,1fr);
}
.col4 {
    grid-template-columns: repeat(4, 1fr);
}
.col5 {
    grid-template-columns: repeat(5,1fr);
}

.grid-item {
    position: relative;
}