/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
$color__background-header       : #fff;
$color__background-body         : #f1f7fb;
$color__background-footer       : #fff;


/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/
$color__text-main               : #111;
$color__text-light              : #767676;

$color__text-input              : #666;
$color__text-input-focus        : #111;


/*--------------------------------------------------------------
# Buttons & Links
--------------------------------------------------------------*/
$color__button                  : #0073aa;
$color__button-hover            : #111;
$color__button-text             : #fff;

$color__link                    : #25a6ef;
$color__link-hover              : #6ecaff;