/*--------------------------------------------------------------
# Main font varibles
--------------------------------------------------------------*/
$font__main                     : 'Montserrat', Helvetica, Arial, sans-serif;
$font__main-size                : 16px;
$font__main-weight              : 400;
$font__main-line-height         : 1.4;